*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.body{
    background: #000;

}
.containerA 
{
    text-align: center;
    position: absolute;
    top:65px;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100%;
}

.containerA span{

    text-transform: uppercase;
    display: block;
}
.text1{
    color: white;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background: black;
    position: relative;
    animation: text 3s 1;
}
.text2{
    font-size: 20px;
    color:black;
}

/*Animation*/
@keyframes text{
    0%   {
         color: black;
         margin-bottom: -40px;
          }
    30%{
            letter-spacing: 25px;
            margin-bottom: -40px;
            }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
        }

}